a{
    text-decoration: none;
}
.navContent{
    margin: 0 auto;
    width: 960px;
}
.topnav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid #cccccc;
    padding-top: 2%;
    z-index: 1000;
}
.topnav span{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background: #4aaaa5;
    padding: 0px 15px 0px 15px;
    font-size: 30px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: gray;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#portfolio{
    border-right: 1px solid gray;
}
#about{
    border-right: 1px solid gray;
}
#header, h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}
.contentHeader{
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc;
}
.mainBody img{
    float: left;
    width: 200px;
    margin: 0px 10px 0px 0px;
}
body{
    background: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/tree_bark.png");
    margin-bottom: 80px;
}
.contentWrapper{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 960px;
    border: 2px solid #dddddd;
    background: #ffffff;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    background-color: #666666;
    color: white;
    text-align: center;
}
.nameField, .emailField, .messageField{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
.messageField{
    padding-bottom: 100px;
}
.button{
    background: #4aaaa5;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
.portfolio{
    list-style-type: none;
    text-align: center;
}
.project{
    padding-left: 20px;
    display: inline-block;
    position: relative;
    height: 350px;
    width: 350px;
}
.project img{
    height: 350px;
}
.project-name{
    position: relative;
    top: -90px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
}