body, html {
    height: 100%;
    font-family: 'Roboto'
}
body {
    margin: 0px;
}

/* All header stylings */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vh;
}
.hero-text h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.icons {
    margin: 1vw;
    font-size: 5vh;
    color: white;
}
a:link {
    text-decoration: none;
}
.seeMore {
    color: white;
    border: 1px solid white;
    padding: 1vh 2vw;
}
.seeMore:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* About me styling */
.about-me {
    background: linear-gradient(to bottom right, rgb(180, 231, 231) , white);
    height: 50vh;
}
.about-me-text {
    width: 75%;
}
.profile {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

/* First Transition Image */
.firstTransition {
    background-image: url("../images/first.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 20vh;
    width: 100vw;
    position: relative;
}

.section {
    height: 50vh;
}